.Rproj.user
.Rhistory
.RData
.Ruserdata
temp_files/
R/old_scripts/
data/old_data/
cluster_jobs/

**/.DS_Store

# Application - remove large files
output/Application_21brca/old_models
output/Application_21brca/CompressiveNMF.rds.gzip
output/Application_21brca/CompressiveNMF_cosmic_all.rds.gzip

# Simulation - remove large files
output/old_simulations
output/main_simulation/old_simulations

output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/ARD
output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/CompressiveNMF
output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/PoissonCUSP
output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/signeR
output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/sigpro
output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/SigPro
output/main_simulation/Scenario_100_overdisp_0_Knew_2_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/ARD
output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/CompressiveNMF
output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/PoissonCUSP
output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/signeR
output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/sigpro
output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/SigPro
output/main_simulation/Scenario_100_overdisp_0_Knew_6_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/ARD
output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/CompressiveNMF
output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/PoissonCUSP
output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/signeR
output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/sigpro
output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/SigPro
output/main_simulation/Scenario_100_overdisp_0.15_Knew_2_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/ARD
output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/CompressiveNMF
output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/PoissonCUSP
output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/signeR
output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/sigpro
output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/SigPro
output/main_simulation/Scenario_100_overdisp_0.15_Knew_6_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/ARD
output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/CompressiveNMF
output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/PoissonCUSP
output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/signeR
output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/sigpro
output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/SigPro
output/main_simulation/Scenario_200_overdisp_0_Knew_2_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/ARD
output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/CompressiveNMF
output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/PoissonCUSP
output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/signeR
output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/sigpro
output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/SigPro
output/main_simulation/Scenario_200_overdisp_0_Knew_6_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/ARD
output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/CompressiveNMF
output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/PoissonCUSP
output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/signeR
output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/sigpro
output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/SigPro
output/main_simulation/Scenario_200_overdisp_0.15_Knew_2_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/ARD
output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/CompressiveNMF
output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/PoissonCUSP
output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/signeR
output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/sigpro
output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/SigPro
output/main_simulation/Scenario_200_overdisp_0.15_Knew_6_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/ARD
output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/CompressiveNMF
output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/PoissonCUSP
output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/signeR
output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/sigpro
output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/SigPro
output/main_simulation/Scenario_50_overdisp_0_Knew_2_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/ARD
output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/CompressiveNMF
output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/PoissonCUSP
output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/signeR
output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/sigpro
output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/SigPro
output/main_simulation/Scenario_50_overdisp_0_Knew_6_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/ARD
output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/CompressiveNMF
output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/PoissonCUSP
output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/signeR
output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/sigpro
output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/SigPro
output/main_simulation/Scenario_50_overdisp_0.15_Knew_2_theta_100/BayesNMF_brouwer

output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/ARD
output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/CompressiveNMF
output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/CompressiveNMF_cosmic
output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/PoissonCUSP
output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/signeR
output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/sigpro
output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/SigPro
output/main_simulation/Scenario_50_overdisp_0.15_Knew_6_theta_100/BayesNMF_brouwer

output/sparsity_simulation/Sparsity_0/BayesNMF_brouwer/
output/sparsity_simulation/Sparsity_0.5/BayesNMF_brouwer/
output/sparsity_simulation/Sparsity_0.25/BayesNMF_brouwer/
output/sparsity_simulation/Sparsity_0.75/BayesNMF_brouwer/
output/sparsity_simulation/Sparsity_0.9/BayesNMF_brouwer/

output/sparse_indel_simulation/Indel_theta_50_overd_0/BayesNMF_brouwer/
output/sparse_indel_simulation/Indel_theta_50_overd_0.15/BayesNMF_brouwer/
output/Application_ID_mm

output/Application_ID_panc/CompressiveNMF_cosmic.rds.gzip
output/Application_ID_panc/CompressiveNMF.rds.gzip


